# rcov generated
coverage

# rdoc generated
rdoc

# code metrics
tmp

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

Gemfile.lock
.rspec
.document
workspace.xml
.DS_Store
.idea
