<ul id="dictionary-item-list">
  <% if dictionaries && !dictionaries.empty? %>
      <% dictionaries.each do |dictionary| %>
          <li>
            <a href="<%= base_url + dictionary.name %>"><%= dictionary.name %></a>
          </li>
      <% end %>
  <% else %>
      <li>You do not have any dictionaries defined.</li>
  <% end %>
</ul>
