<% js :import_from_web %>
<% @selected_dictionary ||= @dictionaries.first %>
<section id="sidebar">
  <h3>Select a Dictionary</h3>
  <%= partial :dictionaries_list, :dictionaries => @dictionaries, :base_url => '/dictionaries/select/', :id => 'preview' %>
</section>
<section id="content">
  <h4>Selected: <%= @selected_dictionary.name %></h4>

  <form id="preview-form" method="get" action="/dictionaries/import_from_web/">
    <div class="field-container">
      <label for="url">URL</label><input id="url" name="url" type="text"/>
    </div>
    <div class="field-container">
      <label for="selector">CSS or XPATH selector</label><input name="selector" id="selector" type="text"/>
    </div>
    <div class="button-container">
      <input id="preview" type="submit" class="button" value="Preview"/>
      <input id="reset" type="reset" class="button" value="Reset"/>
    </div>
  </form>
  <script id="preview-item-template" type="text/x-jquery-tmpl">
    {{each stats}}
    <h5>Results 1 - 20 of ${count}</h5>
    {{/each}}
    {{if items}}
    <ul>
    {{each items}}
    <li>${item}</li>
    {{/each}}
    </ul>
    {{else}}
    <h5>No results found.</h5>
    {{/if}}
  </script>
  <div id="preview-item-target"></div>
</section>