<section id="sub-header">
  <h2>Import Data >> </h2>
  <nav id="secondary">
    <ul>
      <li><a href="/import/from_file">From File</a></li>
      <li><a href="/import/from_web">From Web</a></li>
    </ul>
  </nav>
</section>
<section id="main-content">

</section>