<% @selected_dictionary ||= @dictionaries.first %>
<section id="sidebar">
  <h3>Select a Dictionary</h3>
  <%= partial :dictionaries_list, :dictionaries => @dictionaries, :base_url => '/dictionaries/select/', :id => 'preview' %>
</section>
<section id="content">
  <h4>Selected: <%= @selected_dictionary.name %></h4>

  <form method="post" id="preview-form" action="/import_data/from_web/<%= @selected_dictionary.name %>/preview">
    <div class="field-container">
      <label for="url">URL</label><input id="url" name="url" type="text"/>
    </div>
    <div class="field-container">
      <label for="selector">CSS or XPATH selector</label><input name="selector" id="selector" type="text"/>
    </div>
    <input type="submit" title="Preview"/>
  </form>
  <script id="preview-item-template" type="text/x-jquery-tmpl">
    {{each stats}}
        <span>Results 1 - 20 of ${count}</span>
    {{/each}}
    {{each items}}
        <li>${item}</li>
    {{/each}}
  </script>
  <ul id="preview-item-target"></ul>
</section>