<% @selected_dictionary ||= @dictionaries.first %>
<section id="sidebar">
  <h3>Select a Dictionary</h3>
  <%= partial :dictionaries_list, :dictionaries => @dictionaries, :base_url => '/import_data/from_web/' %>
</section>
<section id="content">
  <h4>Selected: <%= @selected_dictionary.name %></h4>

  <form method="post" action="/import_data/from_web/<%= @selected_dictionary.name %>/preview">
    <div class="field-container">
      <label for="url">URL</label><input id="url" name="url" type="text"/>
    </div>
    <div class="field-container">
      <label for="selector">CSS or XPATH selector</label><input name="selector" id="selector" type="text"/>
    </div>
    <input type="submit" title="Preview"/>

  </form>

  <% if @preview_data %>
      <ul>
        <% @preview_data.each do |item| %>
            <li><%= item %></li>
        <% end %>
      </ul>
  <% end %>
</section>